.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 25px 0px;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    margin: 0px 25px;
}

.tab-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.02) 0%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0) 100%
    );
    box-shadow: inset 0px 0.5px 0px rgba(255, 255, 255, 0.1);
}

.tab-menu button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    opacity: 0.5;
}

.tab-menu button.active {
    opacity: 1;
}

.contract {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
    gap: 24px;

    background: rgba(255, 255, 255, 0.05);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow:
        0px 8px 24px rgba(0, 0, 0, 0.1),
        inset 0px 4px 0px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}

.contract img {
    width: 50px;
    margin-bottom: 10px;
}

.contract h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contract p {
    font-size: 16px;
    margin-bottom: 5px;
}

.level {
    background: rgba(255, 255, 255, 0.05);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 16px;
}

.level span {
    font-size: 16px;
}

.button {
    border: none;
    padding: 5px 10px;
    background: linear-gradient(180deg, #4de1ff 0%, #327fa6 100%);
    box-shadow:
        0px 0px 0px 2px rgba(0, 0, 0, 0.2),
        0px 4px 8px rgba(0, 0, 0, 0.2),
        inset 0px -1px 0px rgba(26, 217, 255, 0.6),
        inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
